<a href="https://colab.research.google.com/github/Amithashreshta/255/blob/main/CMPE_255_Project_Unsampled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis

## Exploratory Data Analysis

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler

In [ ]:
!ls '/content/drive/'

MyDrive  Shareddrives

In [ ]:
df = pd.read_csv('/content/drive/My Drive/US_Accidents_June20.csv')
df

                ID    Source  ...  Nautical_Twilight  Astronomical_Twilight
0              A-1  MapQuest  ...              Night                  Night
1              A-2  MapQuest  ...              Night                    Day
2              A-3  MapQuest  ...                Day                    Day
3              A-4  MapQuest  ...                Day                    Day
4              A-5  MapQuest  ...                Day                    Day
...            ...       ...  ...                ...                    ...
3513612  A-3513776      Bing  ...                Day                    Day
3513613  A-3513777      Bing  ...                Day                    Day
3513614  A-3513778      Bing  ...                Day                    Day
3513615  A-3513779      Bing  ...                Day                    Day
3513616  A-3513780      Bing  ...                Day                    Day

[3513617 rows x 49 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3513617 entries, 0 to 3513616
Data columns (total 49 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   TMC                    float64
 3   Severity               int64
 4   Start_Time             object
 5   End_Time               object
 6   Start_Lat              float64
 7   Start_Lng              float64
 8   End_Lat                float64
 9   End_Lng                float64
 10  Distance(mi)           float64
 11  Description            object
 12  Number                 float64
 13  Street                 object
 14  Side                   object
 15  City                   object
 16  County                 object
 17  State                  object
 18  Zipcode                object
 19  Country                object
 20  Timezone               object
 21  Airport_Code           object
 22  Weather_Timestamp      object
 23  Temperature(F)         float64
 24  Wind_Chill(F)          float64
 25  Humidity(%)            float64
 26  Pressure(in)           float64
 27  Visibility(mi)         float64
 28  Wind_Direction         object
 29  Wind_Speed(mph)        float64
 30  Precipitation(in)      float64
 31  Weather_Condition      object
 32  Amenity                bool
 33  Bump                   bool
 34  Crossing               bool
 35  Give_Way               bool
 36  Junction               bool
 37  No_Exit                bool
 38  Railway                bool
 39  Roundabout             bool
 40  Station                bool
 41  Stop                   bool
 42  Traffic_Calming        bool
 43  Traffic_Signal         bool
 44  Turning_Loop           bool
 45  Sunrise_Sunset         object
 46  Civil_Twilight         object
 47  Nautical_Twilight      object
 48  Astronomical_Twilight  object
dtypes: bool(13), float64(14), int64(1), object(21)
memory usage: 1008.6+ MB

In [ ]:
df.nunique()

ID                       3513617
Source                         3
TMC                           21
Severity                       4
Start_Time               3200042
End_Time                 3246120
Start_Lat                1124695
Start_Lng                1113407
End_Lat                   375074
End_Lng                   383569
Distance(mi)               13476
Description              1780092
Number                     40365
Street                    176262
Side                           3
City                       11895
County                      1724
State                         49
Zipcode                   418780
Country                        1
Timezone                       4
Airport_Code                2001
Weather_Timestamp         546086
Temperature(F)               831
Wind_Chill(F)                974
Humidity(%)                  100
Pressure(in)                1022
Visibility(mi)                85
Wind_Direction                24
Wind_Speed(mph)              160
Precipitation(in)            261
Weather_Condition            127
Amenity                        2
Bump                           2
Crossing                       2
Give_Way                       2
Junction                       2
No_Exit                        2
Railway                        2
Roundabout                     2
Station                        2
Stop                           2
Traffic_Calming                2
Traffic_Signal                 2
Turning_Loop                   1
Sunrise_Sunset                 2
Civil_Twilight                 2
Nautical_Twilight              2
Astronomical_Twilight          2
dtype: int64

In [ ]:
df1 = df.drop(['Distance(mi)', 'TMC', 'Country', 'Description', 'City', 'County', 'Street', 'Side', 'Zipcode', 'State', 'Airport_Code', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight'], axis=1)
df1

                ID    Source  ...  Turning_Loop Sunrise_Sunset
0              A-1  MapQuest  ...         False          Night
1              A-2  MapQuest  ...         False          Night
2              A-3  MapQuest  ...         False          Night
3              A-4  MapQuest  ...         False          Night
4              A-5  MapQuest  ...         False            Day
...            ...       ...  ...           ...            ...
3513612  A-3513776      Bing  ...         False            Day
3513613  A-3513777      Bing  ...         False            Day
3513614  A-3513778      Bing  ...         False            Day
3513615  A-3513779      Bing  ...         False            Day
3513616  A-3513780      Bing  ...         False            Day

[3513617 rows x 35 columns]

In [ ]:
cols = ["End_Lat", "End_Lng", "Number"]
df1 = df1.drop(cols, axis=1)
df1

                ID    Source  ...  Turning_Loop Sunrise_Sunset
0              A-1  MapQuest  ...         False          Night
1              A-2  MapQuest  ...         False          Night
2              A-3  MapQuest  ...         False          Night
3              A-4  MapQuest  ...         False          Night
4              A-5  MapQuest  ...         False            Day
...            ...       ...  ...           ...            ...
3513612  A-3513776      Bing  ...         False            Day
3513613  A-3513777      Bing  ...         False            Day
3513614  A-3513778      Bing  ...         False            Day
3513615  A-3513779      Bing  ...         False            Day
3513616  A-3513780      Bing  ...         False            Day

[3513617 rows x 32 columns]

In [ ]:
df1.isnull().sum()

ID                         0
Source                     0
Severity                   0
Start_Time                 0
End_Time                   0
Start_Lat                  0
Start_Lng                  0
Timezone                3880
Weather_Timestamp      43323
Temperature(F)         65732
Wind_Chill(F)        1868249
Humidity(%)            69687
Pressure(in)           55882
Visibility(mi)         75856
Wind_Direction         58874
Wind_Speed(mph)       454609
Precipitation(in)    2025874
Weather_Condition      76138
Amenity                    0
Bump                       0
Crossing                   0
Give_Way                   0
Junction                   0
No_Exit                    0
Railway                    0
Roundabout                 0
Station                    0
Stop                       0
Traffic_Calming            0
Traffic_Signal             0
Turning_Loop               0
Sunrise_Sunset           115
dtype: int64

In [ ]:
pmean = df1['Pressure(in)'].mean()
tmean = df1['Temperature(F)'].mean()
wcmean = df1['Wind_Chill(F)'].mean()
hmean = df1['Humidity(%)'].mean()
wsmean = df1['Wind_Speed(mph)'].mean()
prmean = df1['Precipitation(in)'].mean()

In [ ]:
df1['Pressure(in)']=df1['Pressure(in)'].fillna(pmean)
df1['Temperature(F)'] = df1['Temperature(F)'].fillna(tmean)
df1['Wind_Chill(F)'] = df1['Wind_Chill(F)'].fillna(wcmean)
df1['Humidity(%)'] = df1['Humidity(%)'].fillna(hmean)
df1['Wind_Speed(mph)'] = df1['Wind_Speed(mph)'].fillna(wsmean)
df1['Precipitation(in)']=df1['Precipitation(in)'].fillna(prmean)

In [ ]:
df1.isnull().sum()

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Timezone              3880
Weather_Timestamp    43323
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)       75856
Wind_Direction       58874
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition    76138
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset         115
dtype: int64

In [ ]:
df1['Visibility(mi)'] = df1['Visibility(mi)'].fillna(df1['Visibility(mi)'].mode()[0])
df1['Wind_Direction'] = df1['Wind_Direction'].fillna(df1['Wind_Direction'].mode()[0])
df1['Weather_Condition'] = df1['Weather_Condition'].fillna(df1['Weather_Condition'].mode()[0])
df1['Sunrise_Sunset'] = df1['Sunrise_Sunset'].fillna(df1['Sunrise_Sunset'].mode()[0])

In [ ]:
df1.drop(['Timezone','Weather_Timestamp', 'Start_Time', 'End_Time', 'ID', 'Source'], axis = 1, inplace = True)

In [ ]:
df1.dropna(axis=0, inplace=True)

In [ ]:
df1.isnull().sum()

Severity             0
Start_Lat            0
Start_Lng            0
Temperature(F)       0
Wind_Chill(F)        0
Humidity(%)          0
Pressure(in)         0
Visibility(mi)       0
Wind_Direction       0
Wind_Speed(mph)      0
Precipitation(in)    0
Weather_Condition    0
Amenity              0
Bump                 0
Crossing             0
Give_Way             0
Junction             0
No_Exit              0
Railway              0
Roundabout           0
Station              0
Stop                 0
Traffic_Calming      0
Traffic_Signal       0
Turning_Loop         0
Sunrise_Sunset       0
dtype: int64

In [ ]:
df1.columns

Index(['Severity', 'Start_Lat', 'Start_Lng', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset'],
      dtype='object')

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df1['Amenity'] = label_encoder.fit_transform(df1['Amenity'])
df1['Bump'] = label_encoder.fit_transform(df1['Bump'])
df1['Crossing'] = label_encoder.fit_transform(df1['Crossing'])
df1['Give_Way'] = label_encoder.fit_transform(df1['Give_Way'])
df1['Junction'] = label_encoder.fit_transform(df1['Junction'])
df1['No_Exit'] = label_encoder.fit_transform(df1['No_Exit'])
df1['Railway'] = label_encoder.fit_transform(df1['Railway'])
df1['Roundabout'] = label_encoder.fit_transform(df1['Roundabout'])
df1['Station'] = label_encoder.fit_transform(df1['Station'])
df1['Stop'] = label_encoder.fit_transform(df1['Stop'])
df1['Traffic_Calming'] = label_encoder.fit_transform(df1['Traffic_Calming'])
df1['Traffic_Signal'] = label_encoder.fit_transform(df1['Traffic_Signal'])
df1['Turning_Loop'] = label_encoder.fit_transform(df1['Turning_Loop'])
df1['Sunrise_Sunset'] = label_encoder.fit_transform(df1['Sunrise_Sunset'])
df1['Weather_Condition'] = label_encoder.fit_transform(df1['Weather_Condition'])
df1['Wind_Direction'] = label_encoder.fit_transform(df1['Wind_Direction'])
df1

         Severity  Start_Lat  ...  Turning_Loop  Sunrise_Sunset
0               3  39.865147  ...             0               1
1               2  39.928059  ...             0               1
2               2  39.063148  ...             0               1
3               3  39.747753  ...             0               1
4               2  39.627781  ...             0               0
...           ...        ...  ...           ...             ...
3513612         2  34.002480  ...             0               0
3513613         2  32.766960  ...             0               0
3513614         2  33.775450  ...             0               0
3513615         2  33.992460  ...             0               0
3513616         2  34.133930  ...             0               0

[3513617 rows x 26 columns]

In [ ]:
Y=df1['Severity']

In [ ]:
X=df1.drop(['Severity'], axis = 1)
X

         Start_Lat   Start_Lng  ...  Turning_Loop  Sunrise_Sunset
0        39.865147  -84.058723  ...             0               1
1        39.928059  -82.831184  ...             0               1
2        39.063148  -84.032608  ...             0               1
3        39.747753  -84.205582  ...             0               1
4        39.627781  -84.188354  ...             0               0
...            ...         ...  ...           ...             ...
3513612  34.002480 -117.379360  ...             0               0
3513613  32.766960 -117.148060  ...             0               0
3513614  33.775450 -117.847790  ...             0               0
3513615  33.992460 -118.403020  ...             0               0
3513616  34.133930 -117.230920  ...             0               0

[3513617 rows x 25 columns]

## Data Preprocessing

In [ ]:
from sklearn.preprocessing import StandardScaler

# Fit on training set only.
scaler = StandardScaler()

X = scaler.fit_transform(X)
X.shape

# Apply transform to both the training set and the test set.

(3513617, 25)

In [ ]:
from sklearn.decomposition import PCA
# Make an instance of the Model
pca = PCA(0.95)
pca.fit(X)
train_img = pca.transform(X)
train = pd.DataFrame(train_img)
train

               0         1         2   ...        18        19        20
0       -2.047954 -0.243435  0.055501  ... -0.064923  0.768635  0.291948
1       -2.173525 -0.221865  0.040830  ... -0.179103  0.796083  0.575298
2       -2.398555  1.254979 -0.421095  ... -1.011061 -0.240257  0.466300
3       -2.850913 -0.020809 -0.007376  ... -1.018325 -0.122243  0.010326
4       -2.030949  1.330896 -0.477803  ... -0.313248 -0.728969  0.048935
...           ...       ...       ...  ...       ...       ...       ...
3513612  2.891604 -1.024316  0.306982  ... -0.260476  0.275911  0.427263
3513613  1.310865 -0.876966  0.248687  ... -0.138991 -0.512504  1.031485
3513614  1.280673 -1.344117  0.369968  ...  0.353020 -0.271124  0.504963
3513615  1.147697 -0.834036  0.230561  ...  0.005752 -0.142021  1.416054
3513616  2.033541 -1.012607  0.308549  ... -0.303629 -0.120336 -0.165176

[3513617 rows x 21 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(train, Y, test_size=0.3, random_state=100)

# Model Implementation

In [ ]:
import pandas as pd
from pandas import set_option
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
import numpy as np
from scipy import stats
 
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import classification_report as cls_report
from sklearn.metrics import f1_score
from sklearn.feature_selection import VarianceThreshold

from sklearn.linear_model import LogisticRegression    #Logistic Regression
from sklearn.tree import DecisionTreeClassifier        #Decision Tree
from sklearn.ensemble import RandomForestClassifier    #Random Forest

from sklearn.feature_selection import SelectFromModel
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.cm as cm
from matplotlib import rcParams
rcParams['xtick.major.pad'] = 1
rcParams['ytick.major.pad'] = 1

## Logistic Regression

In [ ]:
lr = LogisticRegression(random_state=42, C=0.1)
lr.fit(X_train,Y_train)
y_pred=lr.predict(X_test)

# Get the accuracy score
acc=accuracy_score(Y_test, y_pred)

# Append to the accuracy list


print("[Logistic regression algorithm] accuracy_score: {:.3f}.".format(acc))

[Logistic regression algorithm] accuracy_score: 0.675.

## DTC

In [ ]:
dt = DecisionTreeClassifier(max_depth=8, criterion='entropy', random_state=1)


# Fit dt_entropy to the training set
dt.fit(X_train, Y_train)

# Use dt_entropy to predict test set labels
y_pred3= dt.predict(X_test)

# Evaluate accuracy_entropy
acc3 = accuracy_score(Y_test, y_pred3)
acc3

0.6766487743884275

### Gini

In [ ]:
dt_gini = DecisionTreeClassifier(max_depth=8, criterion='gini', random_state=1)


# Fit dt_entropy to the training set
dt_gini.fit(X_train, Y_train)

# Use dt_entropy to predict test set labels
y_pred4= dt_gini.predict(X_test)

# Evaluate accuracy_entropy
accuracy_gini = accuracy_score(Y_test, y_pred4)
accuracy_gini

0.6817441840608831

## Random Forest Classification

In [ ]:
rfc=RandomForestClassifier(n_estimators=50)

#Train the model using the training sets y_pred=clf.predict(X_test)
rfc.fit(X_train,Y_train)

y_pred5=rfc.predict(X_test)


# Get the accuracy score
acc5=accuracy_score(Y_test, y_pred5)

acc5

0.7031589452852993